body {
    font-family: Arial;

}

* {

    margin:0;
    padding: 0;

}

h1 {

    text-align: center;
    font-family: Tahoma;
    font-size: 30px;
    color: white;
    background-color: #17072B;
    padding: 20px;

}

nav {
    
    background-color: #17072B;
    font-size: 20px;
    font-weight: bold;

    
}

nav ul {

    list-style: none;
    display: flex;
    justify-content: center;

}

nav ul li {

    padding: 15px 15px;


}

nav ul li a {

    text-decoration: none;
    color: white;
    width: 100px;
    display: block;
    text-align: center;


}

h2 {

    color: black;
    font-size: 30px;
    padding: 20px 10px;
    font-weight: bolder;


}

p {

    color: black;
    padding: 0px 10px;
    font-weight: bold;

}

img {

    padding: 10px 10px;

}

.welcome {

    float: left;
}



.sidebar {

    background-color: #172d67;
    height: 367px;
    width: 500px;
    float: right;
    padding: 20px 20px;
    margin-top: 20px;
 
}

.bar {

    color: white;
    font-weight: bold;
    font-size: 30px;

}

.bartext {

    color: white;
    font-weight: bold;

}

#footer {
    background-color: #8c15e9;
    position: relative;
    height: 40px;
    margin-top: -100px;
    clear: both;
    color: white;
    text-align: center;
}